h3{
  color: aqua;
  text-align: center;
}
p{
  
    color: white;
    background-color: blueviolet;
  }
 

div{
  /* background-color: rgb(71, 77, 255); */
  margin: 5px;
  border: 10px solid tomato;
  padding: 20px;
  width: 80%;
  height: 100px;
}