h3{
  color: aqua;
  text-align: center;
}
p{
  
    color: white;
    background-color: blueviolet;
  }
  img{
    width: 80%;
    height: 500px;
    border-radius: 100%;

  }
  #Ali{
     margin: none;
  border: none;
  padding:none;
  width: none;
  height: none;

  }
 

div{
  /* background-color: rgb(71, 77, 255); */
  margin: 5px;
  border: 10px solid tomato;
  padding: 20px;
  width: 80%;
  height: 100px;
}